*~
/autom4te.cache/
/config.guess
/config.sub
/config.h.in
/configure
/FOR FUTURE USE/
Makefile.in

/debug-*/
/release-*/

.directory

*m68k
*s68k
*.asm
*.lo
*.Plo
*.o
*.la
.libs

*bak

.dirstamp
*.bin.[ch]
src/cbob/cbob
*.Po
*.Tpo
git_version.h
Makefile

config.h
config.log
config.status
ltmain.sh
libtool
*.m4
